<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav>
    <h1>navigation</h1>
    <ul>
      <li><a href="/points">points tracker</a></li>
      <li><a href="/diceroll">roll dice</a></li>
    </ul>
  </nav>


<form action="/diceRoll" method="GET">
  <input type="text" name="diceNumber" placeholder="number of dice being used" />
  <button type="submit">ROLL</button>
</form>

<BR>
<BR>
<BR>
<h4>Dice Side : How Many Times It Was Rolled </h4>

<% Object.entries(resultObj).forEach(([key, value]) => { %>
<br><strong><%= key %>:</strong> <%= value %>
<% }); %>

<BR>
<BR><a href="/diceroll">ROLL AGAIN</a>

<footer>
    <ul>
      <li><a href="/">start over</a></li>
    </ul>
  </footer>
</body>

</html>